<div class="container">
  <div class="header">
    <h2>Freelance</h2>
  </div>

  <div class="grid-container">
    <div class="left">
      <player [player]="playersService.players[0]"></player>
    </div>
    <div class="middle">
      <field></field>
    </div>  
    <div class="right">
      <dice [dice]="dicesService.dices[0]"></dice>
      <turn-indicator></turn-indicator>
      <players-list [players]="playersService.players"></players-list>
    </div>
  </div>

  <div class="footer">
    <p>Freelance &copy; 2022</p>
  </div>
</div>
