/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 'left middle middle middle middle right';
  position: absolute;
  width: 100%;
  top: 61px;
  bottom: 60px;
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left,
.middle,
.right {
  padding: 10px;
  overflow-y: auto;
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}