.cell {
  display: inline-block;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  padding: 2px;
  font-size: 8px;
  text-align: right;
}
.even {
  background-color: #bbb;
}
.odd {
  background-color: #ccc;
}