cell {
  display: inline-block;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  padding: 0;
  font-size: 8px;
  text-align: right;
}
.space {
  display: inline-block;
  width: 350px;
  height: 70px;
  vertical-align: middle;
}